#map { height: 700px; }

.legend {
    line-height: 18px;
    color: #555;
    background: white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
<<<<<<< HEAD
#poorest {
    max-width:100%;
    height:auto;
    max-height:100%;
 }

 #stacked {
    max-width:100%;
    height:auto;
    max-height:100%;
 }
=======


>>>>>>> 5a1c712b9a813ff807d3d3caa178ea100768a516

